<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Theme/ico/apple-icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Theme/images/ico/apple-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Theme/images/ico/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Theme/images/ico/apple-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Theme/images/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/Content/Theme/images/ico/favicon-32.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/bootstrap.css">
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/fonts/icomoon.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/fonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/vendors/css/extensions/pace.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/vendors/css/ui/prism.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/app.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/colors.css">
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/core/menu/menu-types/vertical-overlay-menu.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- END Custom CSS-->
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    @using Microsoft.AspNet.Identity
</head>
<body ng-app="myApp" data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">

    <!-- navbar-fixed-top-->
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-light navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="nav-item mobile-menu hidden-md-up float-xs-left"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5 font-large-1"></i></a></li>
                    <li class="nav-item"><a href="index.html" class="navbar-brand nav-link"><img alt="branding logo" src="/Content/Theme/images/logo/robust-logo-dark.png" data-expand="/Content/Theme/images/logo/robust-logo-dark.png" data-collapse="/Content/Theme/images/logo/robust-logo-small.png" class="brand-logo"></a></li>
                    <li class="nav-item hidden-md-up float-xs-right"><a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i class="icon-ellipsis pe-2x icon-icon-rotate-right-right"></i></a></li>
                </ul>
            </div>
            <div class="navbar-container content container-fluid">
                <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                    <ul class="nav navbar-nav">
                        <li class="nav-item hidden-sm-down"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5">         </i></a></li>
                        @*<li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i class="ficon icon-expand2"></i></a></li>
                            <li class="nav-item hidden-sm-down"><a href="https://pixinvent.com/bootstrap-admin-template/robust/" target="_blank" class="btn btn-success upgrade-to-pro">Upgrade to PRO $24</a></li>*@
                    </ul>
                    <ul class="nav navbar-nav float-xs-right">
                        @Html.Partial("_LoginPartial")                        
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- main menu-->
    <div data-scroll-to-active="true" class="main-menu menu-fixed menu-light menu-accordion menu-shadow">
        <!-- main menu header-->
        <div class="main-menu-header">
            <input type="text" placeholder="Search" class="menu-search form-control round" />
        </div>
        <!-- / main menu header-->
        <!-- main menu content-->
        <div class="main-menu-content">
            <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                <li class=" nav-item">
                    <a href="index.html"><i class="icon-home3"></i><span data-i18n="nav.dash.main" class="menu-title">Dashboard</span><span class="tag tag tag-primary tag-pill float-xs-right mr-2">2</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="#/JobList" data-i18n="nav.dash.main" class="menu-item">Job List</a>
                        </li>
                        <li>
                            <a href="#/CreateJob" data-i18n="nav.dash.main" class="menu-item">Create Job</a>
                        </li>
                        <li>
                            <a href="#/CreateTenant" data-i18n="nav.dash.main" class="menu-item">Create Tenant</a>
                        </li>
                        <li>
                            <a href="index.html" data-i18n="nav.dash.main" class="menu-item">Dashboard</a>
                        </li>
                        <li>
                            <a href="dashboard-2.html" data-i18n="nav.dash.main" class="menu-item">Dashboard 2</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-stack-2"></i><span data-i18n="nav.page_layouts.main" class="menu-title">Page layouts</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="layout-1-column.html" data-i18n="nav.page_layouts.1_column" class="menu-item">1 column</a>
                        </li>
                        <li>
                            <a href="layout-2-columns.html" data-i18n="nav.page_layouts.2_columns" class="menu-item">2 columns</a>
                        </li>
                        <li>
                            <a href="layout-boxed.html" data-i18n="nav.page_layouts.boxed_layout" class="menu-item">Boxed layout</a>
                        </li>
                        <li>
                            <a href="layout-static.html" data-i18n="nav.page_layouts.static_layout" class="menu-item">Static layout</a>
                        </li>
                        <li class="navigation-divider"></li>
                        <li>
                            <a href="layout-light.html" data-i18n="nav.page_layouts.light_layout" class="menu-item">Light layout</a>
                        </li>
                        <li>
                            <a href="layout-dark.html" data-i18n="nav.page_layouts.dark_layout" class="menu-item">Dark layout</a>
                        </li>
                        <li>
                            <a href="layout-semi-dark.html" data-i18n="nav.page_layouts.semi_dark_layout" class="menu-item">Semi dark layout</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-briefcase4"></i><span data-i18n="nav.project.main" class="menu-title">Pages</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="invoice-template.html" data-i18n="nav.invoice.invoice_template" class="menu-item">Invoice Template</a>
                        </li>
                        <li>
                            <a href="gallery-grid.html" data-i18n="nav.gallery_pages.gallery_grid" class="menu-item">Gallery Grid</a>
                        </li>
                        <li>
                            <a href="search-page.html" data-i18n="nav.search_pages.search_page" class="menu-item">Search Page</a>
                        </li>
                        <li>
                            <a href="search-website.html" data-i18n="nav.search_pages.search_website" class="menu-item">Search Website</a>
                        </li>
                        <li>
                            <a href="login-simple.html" data-i18n="nav.login_register_pages.login_simple" class="menu-item">Login Simple</a>
                        </li>
                        <li>
                            <a href="register-simple.html" data-i18n="nav.login_register_pages.register_simple" class="menu-item">Register Simple</a>
                        </li>
                        <li>
                            <a href="unlock-user.html" data-i18n="nav.login_register_pages.unlock_user" class="menu-item">Unlock User</a>
                        </li>
                        <li>
                            <a href="recover-password.html" data-i18n="nav.login_register_pages.recover_password" class="menu-item">Recover Password</a>
                        </li>
                        <li>
                            <a href="#" data-i18n="nav.error_pages.main" class="menu-item">Error</a>
                            <ul class="menu-content">
                                <li>
                                    <a href="error-400.html" data-i18n="nav.error_pages.error_400" class="menu-item">Error 400</a>
                                </li>
                                <li>
                                    <a href="error-401.html" data-i18n="nav.error_pages.error_401" class="menu-item">Error 401</a>
                                </li>
                                <li>
                                    <a href="error-403.html" data-i18n="nav.error_pages.error_403" class="menu-item">Error 403</a>
                                </li>
                                <li>
                                    <a href="error-404.html" data-i18n="nav.error_pages.error_404" class="menu-item">Error 404</a>
                                </li>
                                <li>
                                    <a href="error-500.html" data-i18n="nav.error_pages.error_500" class="menu-item">Error 500</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="coming-soon-flat.html" data-i18n="nav.other_pages.coming_soon.coming_soon_flat" class="menu-item">Coming Soon</a>
                        </li>
                        <li>
                            <a href="under-maintenance.html" data-i18n="nav.other_pages.under_maintenance" class="menu-item">Maintenance</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-ios-albums-outline"></i><span data-i18n="nav.cards.main" class="menu-title">Cards</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="card-bootstrap.html" data-i18n="nav.cards.card_bootstrap" class="menu-item">Bootstrap Cards</a>
                        </li>
                        <li>
                            <a href="card-actions.html" data-i18n="nav.cards.card_actions" class="menu-item">Card Action</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-whatshot"></i><span data-i18n="nav.advance_cards.main" class="menu-title">Advance Cards</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="card-statistics.html" data-i18n="nav.cards.card_statistics" class="menu-item">Statistics</a>
                        </li>
                        <li>
                            <a href="card-charts.html" data-i18n="nav.cards.card_charts" class="menu-item">Charts</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-compass3"></i><span data-i18n="nav.content.main" class="menu-title">Content</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="content-grid.html" data-i18n="nav.content.content_grid" class="menu-item">Grid</a>
                        </li>
                        <li>
                            <a href="content-typography.html" data-i18n="nav.content.content_typography" class="menu-item">Typography</a>
                        </li>
                        <li>
                            <a href="content-text-utilities.html" data-i18n="nav.content.content_text_utilities" class="menu-item">Text utilities</a>
                        </li>
                        <li>
                            <a href="content-helper-classes.html" data-i18n="nav.content.content_helper_classes" class="menu-item">Helper classes</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-grid2"></i><span data-i18n="nav.components.main" class="menu-title">Components</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="component-alerts.html" data-i18n="nav.components.component_alerts" class="menu-item">Alerts</a>
                        </li>
                        <li>
                            <a href="component-buttons-basic.html" data-i18n="nav.components.components_buttons.component_buttons_basic" class="menu-item">Basic Buttons</a>
                        </li>
                        <li>
                            <a href="component-carousel.html" data-i18n="nav.components.component_carousel" class="menu-item">Carousel</a>
                        </li>
                        <li>
                            <a href="component-collapse.html" data-i18n="nav.components.component_collapse" class="menu-item">Collapse</a>
                        </li>
                        <li>
                            <a href="component-dropdowns.html" data-i18n="nav.components.component_dropdowns" class="menu-item">Dropdowns</a>
                        </li>
                        <li>
                            <a href="component-list-group.html" data-i18n="nav.components.component_list_group" class="menu-item">List Group</a>
                        </li>
                        <li>
                            <a href="component-modals.html" data-i18n="nav.components.component_modals" class="menu-item">Modals</a>
                        </li>
                        <li>
                            <a href="component-pagination.html" data-i18n="nav.components.component_pagination" class="menu-item">Pagination</a>
                        </li>
                        <li>
                            <a href="component-navs-component.html" data-i18n="nav.components.component_navs_component" class="menu-item">Navs Component</a>
                        </li>
                        <li>
                            <a href="component-tabs-component.html" data-i18n="nav.components.component_tabs_component" class="menu-item">Tabs Component</a>
                        </li>
                        <li>
                            <a href="component-pills-component.html" data-i18n="nav.components.component_pills_component" class="menu-item">Pills Component</a>
                        </li>
                        <li>
                            <a href="component-tooltips.html" data-i18n="nav.components.component_tooltips" class="menu-item">Tooltips</a>
                        </li>
                        <li>
                            <a href="component-popovers.html" data-i18n="nav.components.component_popovers" class="menu-item">Popovers</a>
                        </li>
                        <li>
                            <a href="component-tags.html" data-i18n="nav.components.component_tags" class="menu-item">Tags</a>
                        </li>
                        <li>
                            <a href="component-pill-tags.html" class="menu-item">Pill Tags</a>
                        </li>
                        <li>
                            <a href="component-progress.html" data-i18n="nav.components.component_progress" class="menu-item">Progress</a>
                        </li>
                        <li>
                            <a href="component-media-objects.html" data-i18n="nav.components.component_media_objects" class="menu-item">Media Objects</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-eye6"></i><span data-i18n="nav.icons.main" class="menu-title">Icons</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="icons-feather.html" data-i18n="nav.icons.icons_feather" class="menu-item">Feather</a>
                        </li>
                        <li>
                            <a href="icons-ionicons.html" data-i18n="nav.icons.icons_ionicons" class="menu-item">Ionicons</a>
                        </li>
                        <li>
                            <a href="icons-fps-line.html" data-i18n="nav.icons.icons_fps_line" class="menu-item">FPS Line Icons</a>
                        </li>
                        <li>
                            <a href="icons-ico-moon.html" data-i18n="nav.icons.icons_ico_moon" class="menu-item">Ico Moon</a>
                        </li>
                        <li>
                            <a href="icons-font-awesome.html" data-i18n="nav.icons.icons_font_awesome" class="menu-item">Font Awesome</a>
                        </li>
                        <li>
                            <a href="icons-meteocons.html" data-i18n="nav.icons.icons_meteocons" class="menu-item">Meteocons</a>
                        </li>
                        <li>
                            <a href="icons-evil.html" data-i18n="nav.icons.icons_evil" class="menu-item">Evil Icons</a>
                        </li>
                        <li>
                            <a href="icons-linecons.html" data-i18n="nav.icons.icons_linecons" class="menu-item">Linecons</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="form-layout-basic.html"><i class="icon-paper"></i><span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Basic Forms</span></a>
                </li>
                <li class=" nav-item">
                    <a href="table-basic.html"><i class="icon-table2"></i><span data-i18n="nav.bootstrap_tables.table_basic" class="menu-title">Basic Tables</span></a>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-bar-graph-2"></i><span data-i18n="nav.google_charts.main" class="menu-title">google Charts</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="google-bar-charts.html" data-i18n="nav.google_charts.google_bar_charts" class="menu-item">Bar charts</a>
                        </li>
                        <li>
                            <a href="google-line-charts.html" data-i18n="nav.google_charts.google_line_charts" class="menu-item">Line charts</a>
                        </li>
                        <li>
                            <a href="google-pie-charts.html" data-i18n="nav.google_charts.google_pie_charts" class="menu-item">Pie charts</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-stats-dots"></i><span data-i18n="nav.chartjs.main" class="menu-title">Chartjs</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="chartjs-line-charts.html" data-i18n="nav.chartjs.chartjs_line_charts" class="menu-item">Line charts</a>
                        </li>
                        <li>
                            <a href="chartjs-bar-charts.html" data-i18n="nav.chartjs.chartjs_bar_charts" class="menu-item">Bar charts</a>
                        </li>
                        <li>
                            <a href="chartjs-pie-doughnut-charts.html" data-i18n="nav.chartjs.chartjs_pie_doughnut_charts" class="menu-item">Pie &amp; Doughnut charts</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-pie-graph2"></i><span data-i18n="nav.flot_charts.main" class="menu-title">Flot Charts</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="flot-line-charts.html" data-i18n="nav.flot_charts.flot_line_charts" class="menu-item">Line charts</a>
                        </li>
                        <li>
                            <a href="flot-bar-charts.html" data-i18n="nav.flot_charts.flot_bar_charts" class="menu-item">Bar charts</a>
                        </li>
                        <li>
                            <a href="flot-pie-charts.html" data-i18n="nav.flot_charts.flot_pie_charts" class="menu-item">Pie charts</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-map22"></i><span data-i18n="nav.maps.main" class="menu-title">Maps</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="gmaps-basic-maps.html" data-i18n="nav.maps.google_maps.gmaps_basic_maps" class="menu-item">Maps</a>
                        </li>
                        <li>
                            <a href="vector-maps-jvq.html" data-i18n="nav.maps.vector_maps.vector_maps_jvq" class="menu-item">Vector Maps</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-paint-format"></i><span data-i18n="nav.color_palette.main" class="menu-title">Color Palette</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="color-palette-primary.html" data-i18n="nav.color_palette.color_palette_primary" class="menu-item">Primary palette</a>
                        </li>
                        <li>
                            <a href="color-palette-danger.html" data-i18n="nav.color_palette.color_palette_danger" class="menu-item">Danger palette</a>
                        </li>
                        <li>
                            <a href="color-palette-success.html" data-i18n="nav.color_palette.color_palette_success" class="menu-item">Success palette</a>
                        </li>
                        <li>
                            <a href="color-palette-warning.html" data-i18n="nav.color_palette.color_palette_warning" class="menu-item">Warning palette</a>
                        </li>
                        <li>
                            <a href="color-palette-info.html" data-i18n="nav.color_palette.color_palette_info" class="menu-item">Info palette</a>
                        </li>
                        <li class="navigation-divider"></li>
                        <li>
                            <a href="color-palette-red.html" data-i18n="nav.color_palette.color_palette_red" class="menu-item">Red palette</a>
                        </li>
                        <li>
                            <a href="color-palette-pink.html" data-i18n="nav.color_palette.color_palette_pink" class="menu-item">Pink palette</a>
                        </li>
                        <li>
                            <a href="color-palette-purple.html" data-i18n="nav.color_palette.color_palette_purple" class="menu-item">Purple palette</a>
                        </li>
                        <li>
                            <a href="color-palette-deep-purple.html" data-i18n="nav.color_palette.color_palette_deep_purple" class="menu-item">Deep Purple palette</a>
                        </li>
                        <li>
                            <a href="color-palette-indigo.html" data-i18n="nav.color_palette.color_palette_indigo" class="menu-item">Indigo palette</a>
                        </li>
                        <li>
                            <a href="color-palette-blue.html" data-i18n="nav.color_palette.color_palette_blue" class="menu-item">Blue palette</a>
                        </li>
                        <li>
                            <a href="color-palette-light-blue.html" data-i18n="nav.color_palette.color_palette_light_blue" class="menu-item">Light Blue palette</a>
                        </li>
                        <li>
                            <a href="color-palette-cyan.html" data-i18n="nav.color_palette.color_palette_cyan" class="menu-item">Cyan palette</a>
                        </li>
                        <li>
                            <a href="color-palette-teal.html" data-i18n="nav.color_palette.color_palette_teal" class="menu-item">Teal palette</a>
                        </li>
                        <li>
                            <a href="color-palette-green.html" data-i18n="nav.color_palette.color_palette_green" class="menu-item">Green palette</a>
                        </li>
                        <li>
                            <a href="color-palette-light-green.html" data-i18n="nav.color_palette.color_palette_light_green" class="menu-item">Light Green palette</a>
                        </li>
                        <li>
                            <a href="color-palette-lime.html" data-i18n="nav.color_palette.color_palette_lime" class="menu-item">Lime palette</a>
                        </li>
                        <li>
                            <a href="color-palette-yellow.html" data-i18n="nav.color_palette.color_palette_yellow" class="menu-item">Yellow palette</a>
                        </li>
                        <li>
                            <a href="color-palette-amber.html" data-i18n="nav.color_palette.color_palette_amber" class="menu-item">Amber palette</a>
                        </li>
                        <li>
                            <a href="color-palette-orange.html" data-i18n="nav.color_palette.color_palette_orange" class="menu-item">Orange palette</a>
                        </li>
                        <li>
                            <a href="color-palette-deep-orange.html" data-i18n="nav.color_palette.color_palette_deep_orange" class="menu-item">Deep Orange palette</a>
                        </li>
                        <li>
                            <a href="color-palette-brown.html" data-i18n="nav.color_palette.color_palette_brown" class="menu-item">Brown palette</a>
                        </li>
                        <li>
                            <a href="color-palette-blue-grey.html" data-i18n="nav.color_palette.color_palette_blue_grey" class="menu-item">Blue Grey palette</a>
                        </li>
                        <li>
                            <a href="color-palette-grey.html" data-i18n="nav.color_palette.color_palette_grey" class="menu-item">Grey palette</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="changelog.html"><i class="icon-copy"></i><span data-i18n="nav.changelog.main" class="menu-title">Changelog</span><span class="tag tag tag-pill tag-danger float-xs-right">1.0</span></a>
                </li>
                <li class="disabled nav-item">
                    <a href="#"><i class="icon-eye-disabled"></i><span data-i18n="nav.disabled_menu.main" class="menu-title">Disabled Menu</span></a>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="icon-android-funnel"></i><span data-i18n="nav.menu_levels.main" class="menu-title">Menu levels</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="#" data-i18n="nav.menu_levels.second_level" class="menu-item">Second level</a>
                        </li>
                        <li>
                            <a href="#" data-i18n="nav.menu_levels.second_level_child.main" class="menu-item">Second level child</a>
                            <ul class="menu-content">
                                <li>
                                    <a href="#" data-i18n="nav.menu_levels.second_level_child.third_level" class="menu-item">Third level</a>
                                </li>
                                <li>
                                    <a href="#" data-i18n="nav.menu_levels.second_level_child.third_level_child.main" class="menu-item">Third level child</a>
                                    <ul class="menu-content">
                                        <li>
                                            <a href="#" data-i18n="nav.menu_levels.second_level_child.third_level_child.fourth_level1" class="menu-item">Fourth level</a>
                                        </li>
                                        <li>
                                            <a href="#" data-i18n="nav.menu_levels.second_level_child.third_level_child.fourth_level2" class="menu-item">Fourth level</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class=" navigation-header">
                    <span data-i18n="nav.category.support">Support</span><i data-toggle="tooltip" data-placement="right" data-original-title="Support" class="icon-ellipsis icon-ellipsis"></i>
                </li>
                <li class=" nav-item">
                    <a href="https://github.com/pixinvent/robust-free-bootstrap-admin-template/issues"><i class="icon-support"></i><span data-i18n="nav.support_raise_support.main" class="menu-title">Raise Support</span></a>
                </li>
                <li class=" nav-item">
                    <a href="https://pixinvent.com/free-bootstrap-template/robust-lite/documentation"><i class="icon-document-text"></i><span data-i18n="nav.support_documentation.main" class="menu-title">Documentation</span></a>
                </li>
            </ul>
        </div>
        <!-- /main menu content-->
        <!-- main menu footer-->
        <!-- include includes/menu-footer-->
        <!-- main menu footer-->
    </div>
    <!-- / main menu-->

    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            @*<div class="content-header row">
                    <div class="content-header-left col-md-6 col-xs-12 mb-1">
                        <h2 class="content-header-title">Light Layout</h2>
                    </div>
                    <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-xs-12">
                        <div class="breadcrumb-wrapper col-xs-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Page Layouts</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Light Layout
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>*@
            <div class="content-body" style="min-height:490px">
                <ng-view class="reveal-animation">
                    @RenderBody()
                </ng-view>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->


    <footer class="footer footer-static footer-light navbar-border">
        <p class="clearfix text-muted text-sm-center mb-0 px-2"><span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; 2017 <a href="https://bangladesh.savethechildren.net/" target="_blank" class="text-bold-800 grey darken-2">ICT-SAVE THE CHILDREN,BANGLADESH </a>, All rights reserved. </span><span class="float-md-right d-xs-block d-md-inline-block">Design & Developed by ICT TEAM</span></p>
    </footer>

    <!-- BEGIN VENDOR JS-->
    <script src="~/Content/Theme/js/core/libraries/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/vendors/js/ui/tether.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/js/core/libraries/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/vendors/js/ui/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/vendors/js/ui/unison.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/vendors/js/ui/blockUI.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/vendors/js/ui/jquery.matchHeight-min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/vendors/js/ui/screenfull.min.js" type="text/javascript"></script>
    <script src="~/Content/Theme/vendors/js/extensions/pace.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script type="text/javascript" src="~/Content/Theme/vendors/js/ui/prism.min.js"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script src="~/Content/Theme/js/core/app-menu.js" type="text/javascript"></script>
    <script src="~/Content/Theme/js/core/app.js" type="text/javascript"></script>
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->
    @*<script src="~/Scripts/jquery-2.1.1.js"></script>*@
    <script src="~/Scripts/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

    <script src="~/Scripts/ui-router.js"></script>
    <script src="~/Scripts/Route.js"></script>
    <script src="~/Scripts/toastr.js"></script>

    <script src="~/Scripts/JobController.js"></script>
    <script src="~/Scripts/TenantController.js"></script>
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
